<!-- Barra superior -->
<nav class="navbar navbar-dark bg-primary">
    <div class="container">
        <div class="home-button">
            <a class="navbar-brand" href="{% url 'Inicio' %}">Inicio</a>
        </div>
        <a class="navbar-brand" href="{% url 'ListarProfe' %}">Profesores</a>
        <a class="navbar-brand" href="{% url 'ListarCursos' %}">Cursos</a>
        <a class="navbar-brand" href="{% url 'ListarEstu' %}">Estudiantes</a>
        <a class="btn btn-light" href="#signup">Iniciar sesión</a> <!-- En desarrollo -->
    </div>
</nav>